<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <div class="auth-container">

        <h2>Inicio de sesión</h2>

        <form id="login-form">
            <label>Usuario</label>
            <input id="user" type="text" required>

            <label>Contraseña</label>
            <input id="pass" type="password" required>

            <button type="submit">Ingresar</button>
        </form>

        <p id="error-message"></p>
    </div>

    <script src="/app.js"></script>
</body>
</html>
